body {
  background-color: #fbe0c4;
  font-family: "Gill Sans", sans-serif;
}

hr {
  width: 10%;
  background-color: #fbe0c4;
  border-style: dotted none none none;
  border-width: 6px;
  border-top-color: #ca8a8b;
}
h3
{
  color: #845460;
}
h1
{
  color: #ca8a8b;
}
thead
{
  color: #845460;
}
h2
{
  color: #845460;
}
